apiVersion: apps/v1
kind: Deployment
metadata:
  name: gradio-deployment
  labels:
    app: gradio-app
spec:
  selector:
    matchLabels:
      app: gradio-app
  template:
    metadata:
      labels:
        app: gradio-app
    spec:
      containers:
      - name: gradio-app
        image: localhost:32000/gradio-app:v1
        ports:
        - containerPort: 7860
---
apiVersion: v1
kind: Service
metadata:
  name: gradio-svc
spec:
  selector:
    app: gradio-app
  ports:
  - port: 7860
    targetPort: 7860
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: http-ingress
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
             name: gradio-svc
             port:
               number: 7860
